<div class="col-span-2 bg-white border rounded p-6 mr-8">
  <ul>
    <li class="my-5 mt-0">
      <a class="btn-indigo text-left" href="#">
        <i class="text-xs fad fa-inbox mr-1"></i> <%= gettext("inbox") %>
      </a>
    </li>

  </ul>
</div>
